mlflow
jupyter
scikit-learn
pandas
seaborn
hyperopt
xgboost
fastparquet
matplotlib
numpy
prefect
prefect-aws
boto3
pydantic
pandas-profiling
pandas-gbq
google-cloud-bigquery
google-cloud-storage
google-cloud-aiplatform
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-logging
google-cloud-translate      